body {
    /* background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); */
    font-family: "Nunito", sans-serif;
    height: 100%;
    margin: 0;


}

#body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    border: none;
    margin-top: 0px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-family: "Nunito", sans-serif;
    margin-left: 0;
}

textarea {
    resize: none;
}

textarea:focus {
    border-color: pink;
}

p {
    padding-top: 5px;
    font-family: "Nunito", sans-serif;
}

#back {
    width: 600px;
    border: 4x solid black;
    height: 400px;
    padding-right: 0;
    margin-left: 0;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    background-color: white;
    border: none;
    padding-bottom: 40px;
    position: relative;
    left: 1.5%;
    top: -100px;
    margin-right: 1.5%;
}

textarea {
    resize: none;
}

.SEP {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    font-size: 13px;
    margin-top: 0%;
    margin: 0;
    padding: 0%;
    align-items: end;

}



#day {
    border: 1px solid rgb(223, 220, 220);
    width: 500px;
    height: 100px;
    border-radius: 8px;
    padding-top: 2%;
    padding-left: 2%;
    border-width: 1px;
    font-size: 15px;
}

.taskbox {
    width: 500px;
    height: 30PX;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 8px;
    border-width: 1px;
    text-align: left;
    font-size: 15px;
    padding: 2% 2%;
}

.drop {

    font-size: 15px;
    background-color: rgb(252, 247, 247);
    border-radius: 5px;
    width: 500px;
    height: 30px;
    border: none;
    text-align: left;
    border-width: 1px;
}

.counter {
    color: rgb(141, 11, 184);
    font-size: 12px;
    display: none;
}

#SUBMIT {
    font-size: 16px;
    position: relative;
    left: 140px;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(to right, #1FA2FF 0%, #206ebd 51%, #1FA2FF 100%);
    margin-top: 20px;
    border-width: 0.5px;
    width: 250px;
    height: 45px;
    text-decoration: solid;
    color: white;
    box-shadow: 1px 2px 12px 2px grey;

}

#SUBMIT i {
    padding-right: 10px;
}

.taskbox1 {

    background-color: transparent;
    border: none;
    text-align: left;

}


.dropdown:hover .drpmenu {
    display: block;

}

#time {
    width: 240px;
    border: 1px solid rgb(223, 220, 220);
    text-align: center;
    height: 35px;
    border-radius: 6px;
    font-size: 15x;
    margin-top: 10px;

}

.date {
    width: 240px;
    height: 35px;
    border: 1px solid rgb(223, 220, 220);
    font-size: 15px;
    border-radius: 6px;
    margin-top: 10px;
    text-align: center;
    margin-left: 20px;


}

.space2 label {
    margin-left: 23px;
}

.space {
    margin-top: 10px;


}

a {
    text-decoration: none;
    color: black;
    padding-right: 0;
    padding-left: 20px;
    font-weight: bold;
    position: relative;
    width: max-content;

}

nav {
    margin-bottom: 5px;
    display: flex;
    justify-content: left;
    padding-top: 8px;
    background-image: linear-gradient();
    padding-bottom: 0px;





}

.bar {
    width: 100%;
    background-color: white;
    height: 40px;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0;
    padding-left: 10px;
    position: relative;


}


.SEP1{
    display:flex ;
    justify-content: space-between;
    margin-left: 4%;
    margin-top: 0;
}
.SEP1 i{
    border: 1px solid rgb(139, 135, 135);
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
    font-weight: 200;
    margin-right: 4px;
    color: grey;
    padding-left: 2px;
    padding:5px 5px;
}
a::after {
    content: "";
    background-color: #1FA2FF;
    height: 4px;
    position: absolute;
    bottom: -2px;
    width: 100%;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scale(0);
    left: 10px;


}

a:hover::after {
    transform: scale(1);
}

.supervisor {
    margin-top: 10px;
    border: none;
    width: 490px;
    height: 90px;
    border-radius: 0px;
    padding-top: 4%;
    margin-bottom: 0px;
    margin-left: 10px;
    background-color: white;
    font-size: 15px;
    opacity: 80%;
    font-weight: 500;

}

.supervisor:hover {
    background-color: rgb(244, 254, 244);
    opacity: 100%;

}

.supervisor p {
    padding: 10px 10px 10px 10px;

}

i {
    padding-left: 10PX;
}

.case {
    border-radius: 4px;
    border: 0.2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back2 {
    width: 530px;
    border: none;
    height: 100vh;
    padding-right: 0;
    margin-left: 0;
    justify-content: center;
    display: flex;
    border-radius: 0px;
    background-color: white;


    position: relative;


}

.SEPA {
    display: flex;
    justify-content: space-between;

    width: 530px;
}

.SEPA p {
    padding: 10px 5px 5px 5px;
}



.remarks {
    height: 100vh;
}

.main {
    display: flex;
    justify-content: space-between;
}

.first-part {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    flex: 1;


}

.form-wrapper {
    padding: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;

}

#form {
    background-color: white;
    padding: 24px;

}
@media (max-width:1180px){
    #form{
        width: 450px;
    }
    

    #day{
        width: 400px;

    }
    .taskbox{
        width: 400px;
    }

    .supervisor{
        width: 350px;
        font-size: 12px;
    }
    #back2{
        width: 400px;
    }
    .SEPA{
        width: 300px;
    }
    #SUBMIT{
        width: 140px;
        position: relative;
        left: 155px;
    }
    #time{
        width: 200px;

    }
    .date{
        width:200px;
        margin-left: 0px;
    }
    .SEP{
        width: 420px;
    }
   


}

@media(max-width:940px){
    #form{
        width: 350px;
    }
   

    #day{
        width: 300px;

    }
    .taskbox{
        width: 300px;
    }

    .supervisor{
        width: 350px;
        font-size: 12px;
    }
    #back2{
        width: 400px;
    }
    .SEPA{
        width: 300px;
    }
    #SUBMIT{
        width: 140px;
        position: relative;
        left: 105px;
    }
    #time{
        width: 130px;

    }
    .date{
        width:140px;
        margin-left: 0px;
    }

   

    .SEP{
        width: 310px;
    }





}
@media(max-width:840px){
    #form{
        width: 300px;
    }
   

    #day{
        width: 280px;

    }
    .taskbox{
        width: 280px;
    }

    .supervisor{
        width: 300px;
        font-size: 12px;
    }
    #back2{
        width: 350px;
    }
    
    #SUBMIT{
        width: 140px;
        position: relative;
        left: 85px;
    }
    #time{
        width: 130px;

    }
    .date{
        width:140px;
        margin-left: 0px;
    }

   

    .SEP{
        width: 300px;
    }





}
@media(max-width:740px){
    #form :is(textarea,input){
        font-size: 13px;
    }
    #form{
        width: 250px;
    }
   

    #day{
        width: 230px;

    }
    .taskbox{
        width: 230px;
    }

    .supervisor{
        width: 300px;
        font-size: 12px;
    }
    #back2{
        width: 330px;
    }
    
    #SUBMIT{
        width: 140px;
        position: relative;
        left: 60px;
    }
    #time{
        width: 120px;

    }
    .date{
        width:123px;
        margin-left: 0px;
    }

   

    .SEP{
        width: 250px;
    }





}
@media(max-width:680px){
   .main{
    display: block;
   }
#form{
    width: 400px;
}
#SUBMIT{
    width: 140px;
    position: relative;
    left: 125px;
}
.review-wrapper{
    align-items: center;
    display: flex;justify-content: center;
    background-image: linear-gradient(to bottom, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    padding-top: 40px;
    width: 100%;
}
#back2{
    width: 400px;
    padding: 22px;
}
.supervisor{
    width: 400px;
}
#time{
    width: 180px;

}
#day{
    width: 380px;

}
.taskbox{
    width: 380px;
}

.date{
    width:200px;
    margin-left: 0px;
}
.SEP{
    width: 400px;
}
.supervisor:is(p){
    font-size: 14px;
}
}

@media(max-width:480px){
  
 #form{
     width: 300px;
 }
 #SUBMIT{
     width: 140px;
     position: relative;
     left: 85px;
 }
 
 #back2{
     width: 300px;
     padding: 22px;
 }
 .supervisor{
     width: 300px;
 }
 #time{
     width: 150px;
 
 }
 #day{
     width: 280px;
 
 }
 .taskbox{
     width: 280px;
 }
 
 .date{
     width:130px;
     margin-left: 0px;
 }
 .SEP{
     width: 300px;
 }
 
 }
 @media(max-width:380px){
  
    #form{
        width: 200px;
    }
    #SUBMIT{
        width: 140px;
        position: relative;
        left: 25px;
    }
    
    #back2{
        width: 200px;
        padding: 22px;
    }
    .supervisor{
        width: 200px;
    }
    #time{
        width: 70px;
    
    }
    #day{
        width: 180px;
    
    }
    .taskbox{
        width: 180px;
    }
    
    .date{
        width:100px;
        margin-left: 0px;
    }
    .SEP{
        width: 190px;
    }
    .SEPA{
        width: 100;
        font-size: small;
    }
    
    .remarks{
        width: 200px;
    }
    }